<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>

    {% if message %}
        <p>{{ message }}</p>
    {% endif %}

    <form action="" method="post">
        <p>
            <label for="rut">Rut</label>
            <input type="text" name="rut">
        </p>
        <p>
            <label for="funcionalidad">Funcionalidad</label>
            <input type="text" name="Funcionalidad">
        </p>        
        <p>
            <label for="funcionalidad2">Funcionalidad2</label>
            <input type="text" list="func" />
            <datalist id="func">
              <option>actividades.economicas</option>
              <option>contribuyente</option>
              <option>F29</option>
              <option>F22</option>
            </datalist>
        </p>
        <p>
            <input type="submit">
        </p>
    </form>

</body>
</html>
